# –£—Ä–æ–∫ 2. –ú–µ—Ç—Ä–∏–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ —á.1

–í —É—Ä–æ–∫–µ –º—ã —Ä–∞–∑–±–∏—Ä–∞–ª–∏ –º–∞—Ç—Ä–∏—Ü—É –æ—à–∏–±–æ–∫ –∏ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–µ—Ç—Ä–∏–∫–∏, –æ—Å–Ω–æ–≤–∞–Ω–Ω—ã–µ –Ω–∞ —Ç–µ—Ä–º–∏–Ω–∞—Ö –º–∞—Ç—Ä–∏—Ü—ã –æ—à–∏–±–æ–∫. –ó–¥–µ—Å—å –∂–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ —ç—Ç–∏ –º–µ—Ç—Ä–∏–∫–∏ –ø—Ä–∏–º–µ–Ω—è—Ç—å –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –∏ —á—Ç–æ  –ø–æ –Ω–∏–º –º–æ–∂–Ω–æ –≤—ã—è—Å–Ω–∏—Ç—å.

### 1.1
–í—ã–∫–∞—á–∞–π—Ç–µ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç Titanic - train.csv - —Å —Å–∞–π—Ç–∞ [kaggle](https://www.kaggle.com/c/titanic/data). –° –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ pd.read_csv() –∑–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º. –í—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 20 —Å—Ç—Ä–æ–∫ –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ: –∫–∞–∫–∏–µ –∫–æ–ª–æ–Ω–∫–∏ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç (–±–æ–ª–µ–µ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ –Ω–∏–º –µ—Å—Ç—å –Ω–∞ —Å–∞–π—Ç–µ kaggle), –∫–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –≤ –Ω–∏—Ö –æ–±–æ–∑–Ω–∞—á–µ–Ω—ã –¥–∞–Ω–Ω—ã–µ –∏ –∫–∞–∫–∏–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è (–∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ pandas.dtypes).

In [2]:
import pandas as pd
df=pd.read_csv("titanic.csv", sep=",")
print(df.dtypes)
df.head(20)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [3]:
# Variable	Definition	Key
# survival	Survival	0 = No, 1 = Yes
# pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
# sex	Sex	
# Age	Age in years	
# sibsp	number of siblings / spouses aboard the Titanic	
# parch	number of parents / children aboard the Titanic	
# ticket	Ticket number	
# fare	Passenger fare	
# cabin	Cabin number	
# embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

### 1.2
–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –∏–º–µ—é—Ç—Å—è –ª–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö, –∏ –≤—ã–≤–µ–¥–∏—Ç–µ —Å—É–º–º—É –≤—Å–µ—Ö –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–π –∏–∑ –∫–æ–ª–æ–Ω–æ–∫.

In [4]:
### YOUR CODE HERE ###
for i in range(12):
    print(df.iloc[:,i:i+1].isnull().sum())

PassengerId    0
dtype: int64
Survived    0
dtype: int64
Pclass    0
dtype: int64
Name    0
dtype: int64
Sex    0
dtype: int64
Age    177
dtype: int64
SibSp    0
dtype: int64
Parch    0
dtype: int64
Ticket    0
dtype: int64
Fare    0
dtype: int64
Cabin    687
dtype: int64
Embarked    2
dtype: int64

In [5]:
# sum_ages=df.sum(axis = 0, skipna = True)[5] # sum of ages
# num_ages=df.count(axis=0)[5] # amount of not NaN Age
# avg_age=int(avg_age)
# df['Age'].fillna(avg_age, inplace=True)
# df['Cabin'].fillna("No" , inplace=True)
# df['Embarked'].fillna('S', inplace=True)
# df.head(20)

### 1.3
–ó–∞–º–µ–Ω–∏—Ç–µ –≤—Å–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ–ª–æ–Ω–∫–∏ Age –Ω–∞ –º–µ–¥–∏–∞–Ω—ã –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –ø–æ–ª–∞ —á–µ–ª–æ–≤–µ–∫–∞: —Ç.–µ. –µ—Å–ª–∏ –ø–æ–ª —á–µ–ª–æ–≤–µ–∫–∞ –≤ —Å—Ç—Ä–æ–∫–µ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º "male", –∑–∞–º–µ–Ω—è–µ—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤–æ–∑—Ä–∞—Å—Ç–∞ –Ω–∞ –º–µ–¥–∏–∞–Ω—É –ø–æ –≤—Å–µ–º –∏–∑–≤–µ—Å—Ç–Ω—ã–º –≤–æ–∑—Ä–∞—Å—Ç–∞–º –º—É–∂—á–∏–Ω, –∏ –Ω–∞–æ–±–æ—Ä–æ—Ç. –í—ã–≤–µ–¥–∏—Ç–µ –º–µ–¥–∏–∞–Ω—ã –≤–æ–∑—Ä–∞—Å—Ç–∞ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –ø–æ–ª–∞. –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ Cabin –∏ Embarked –∑–∞–º–µ–Ω–∏—Ç–µ –Ω–∞ U (Unknown).

–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ: –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –ø–æ –ø–æ–ª—É –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥ df.groupby(), –∫–æ—Ç–æ—Ä—ã–π –∏–º–µ–µ—Ç –≤—Å—Ç—Ä–æ–µ–Ω–Ω—ã–µ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ (–≤ —Ç.—á. –¥–ª—è –≤—ã—á–∏—Å–ª–µ–Ω–∏—è –º–µ–¥–∏–∞–Ω—ã).  –î–ª—è —É—Å—Ç–∞–Ω–æ–≤–∫–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —Ñ—É–Ω–∫—Ü–∏–µ–π df.apply().

In [6]:
import pandas as pd
import math

df=pd.read_csv("titanic.csv", sep=",")

def fill_NaN_Age(row):
    if row['Sex']=='female' and row['Age']!=row['Age']: # n!=n means n is NaN
        return df.groupby('Sex')['Age'].median()[0]
    elif row['Sex']=='male' and math.isnan(row['Age']):
        return df.groupby('Sex')['Age'].median()[1]
    else:
        return row['Age']
    
df['Age'] = df.apply(lambda row: fill_NaN_Age(row), axis=1)
df['Cabin'] = df.apply(lambda row: 'U' if row['Cabin']!=row['Cabin'] else row['Cabin'] , axis=1)
df['Embarked'] = df.apply(lambda row: 'U' if row['Embarked']!=row['Embarked'] else row['Embarked'] , axis=1)
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U,S
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,U,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,U,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,U,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,U,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,U,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,U,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,U,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,U,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,U,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,U,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,U,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,27.0,0,0,2649,7.2250,U,C

### 1.4
–í—ã–≤–µ–¥–∏—Ç–µ –≤–æ–∑—Ä–∞—Å—Ç –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å PassengerID = [6, 20]. –£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (–≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —Ñ—É–Ω–∫—Ü–∏–µ–π df.isnull() ).

In [7]:
# pd.DataFrame(df[df['PassengerId']<=20][df['PassengerId']>=6])[['PassengerId','Age']]
df[df['PassengerId'].between(6, 20, inclusive=True)][['PassengerId','Age']]

    PassengerId   Age
5             6  29.0
6             7  54.0
7             8   2.0
8             9  27.0
9            10  14.0
10           11   4.0
11           12  58.0
12           13  20.0
13           14  39.0
14           15  14.0
15           16  55.0
16           17   2.0
17           18  29.0
18           19  31.0
19           20  27.0

–¢–∞–∫ –∫–∞–∫ –Ω–µ –≤—Å–µ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã –º–æ–≥—É—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏, –≤ –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∑–∞–º–µ–Ω–∏—Ç—å –∏—Ö –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ.

–¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –≤—ã–¥–µ–ª–∏—Ç—å —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ —Å—Ç–∞—Ç—É—Å –ø–∞—Å—Å–∞–∂–∏—Ä–∞ (Mr., Mrs., Miss., Dr., Master. –∏ —Ç.–¥.), —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–π –∏–Ω–¥–µ–∫—Å –±–∏–ª–µ—Ç–∞, –∏–Ω–¥–µ–∫—Å –ø–∞–ª—É–±—ã –∏ –¥—Ä—É–≥–∏–µ, –Ω–æ –∑–¥–µ—Å—å –æ–≥—Ä–∞–Ω–∏—á–∏–º—Å—è –≤—ã–±–æ—Ä–æ–º –±–æ–ª–µ–µ –ø—Ä–æ—Å—Ç—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.

### 1.5
–í –∫–æ–ª–æ–Ω–∫–µ Sex –∑–∞–º–µ–Ω–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ 0, –µ—Å–ª–∏ –ø–æ–ª "male", –∏ –Ω–∞ 1, –µ—Å–ª–∏ "female". –í –∫–æ–ª–æ–Ω–∫–µ Embarked –∑–∞–º–µ–Ω–∏—Ç–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã "U", "S", "C", "Q" –Ω–∞ 0, 1, 2, 3 —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ. –û—Ç–±—Ä–æ—Å—å—Ç–µ –∫–æ–ª–æ–Ω–∫–∏ PassengerId, Name, Ticket, Cabin. –í—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 20 —Å—Ç—Ä–æ–∫ –ø–æ–ª—É—á–∏–≤—à–µ–≥–æ—Å—è –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.

In [21]:
df=pd.read_csv("titanic.csv", sep=",")

def fill_NaN_Age(row):
    if row['Sex']=='female' and row['Age']!=row['Age']: # n!=n means n is NaN
        return df.groupby('Sex')['Age'].median()[0]
    elif row['Sex']=='male' and math.isnan(row['Age']):
        return df.groupby('Sex')['Age'].median()[1]
    else:
        return row['Age']
    
df['Age'] = df.apply(lambda row: fill_NaN_Age(row), axis=1)
df['Cabin'] = df.apply(lambda row: 'U' if row['Cabin']!=row['Cabin'] else row['Cabin'] , axis=1)
df['Embarked'] = df.apply(lambda row: 'U' if row['Embarked']!=row['Embarked'] else row['Embarked'] , axis=1)
df.head(20)              


### YOUR CODE HERE ###
df['Sex'] = df.apply(lambda row: 0 if row['Sex']=='male' else 1, axis=1)
def embarked_to_num (row):
    if row['Embarked'].strip()=='U':
        return 0
    elif row['Embarked']=='S':
        return 1
    elif row['Embarked']=='S':
        return 2
    elif row['Embarked']=='S':
        return 3
    else:
        return 5
df['Embarked'] = df.apply(lambda row: embarked_to_num(row), axis=1)
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df
df.to_csv('titanic_preprocessed.csv', sep=',', index=False) # write preprocessed data to csv

### 1.6
–ü—Ä–∏—Å—Ç—É–ø–∏–º –∫ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—é –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–≤. **–£—Å–ª–æ–≤–∏–º—Å—è, —á—Ç–æ, –µ—Å–ª–∏ —Ñ—É–Ω–∫—Ü–∏—è –∏–ª–∏ –æ–±—ä–µ–∫—Ç –º–æ–¥–µ–ª–∏ –∏–º–µ—é—Ç –ø–∞—Ä–∞–º–µ—Ç—Ä random_state, —Ç–æ —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –µ–≥–æ —Ä–∞–≤–Ω—ã–º 17 –≤ –∫–∞–∂–¥–æ–º –∏–∑ —Å–ª—É—á–∞–µ–≤.**

–†–∞–∑–¥–µ–ª–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—ã–π –∏ —Ç–µ—Å—Ç–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç—ã, —É—Å—Ç–∞–Ω–æ–≤–∏–≤ —Ä–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤–æ–≥–æ –∫–∞–∫ 0.25 (–ø–µ—Ä–≤–∞—è –∫–æ–ª–æ–Ω–∫–∞ Survived —è–≤–ª—è–µ—Ç—Å—è —Ü–µ–ª–µ–≤–æ–π, –ø–æ—ç—Ç–æ–º—É –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–Ω–∞—á–∞–ª–∞ –µ–µ –æ—Ç–¥–µ–ª–∏—Ç—å –æ—Ç –ø—Ä–∏–∑–Ω–∞–∫–æ–≤).

In [9]:
import numpy as np
X=np.array(df.drop(['Survived'], axis=1))
y=np.array(df['Survived'])

In [10]:
### YOUR CODE HERE ###
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

### 1.7
–û–±—É—á–∏—Ç–µ –Ω–∞ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –≤—ã–±–æ—Ä–∫–∞—Ö –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –Ω–∏–∂–µ.

**–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ: –≤ –º–µ—Ç–æ–¥–µ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Å–µ–¥–µ–π, —Ä–∞–≤–Ω–æ–µ 5.**

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [12]:
# KNN (K Nearest Neighbors)
classifirer_knn = KNeighborsClassifier(n_neighbors=5)
model_knn=classifirer_knn.fit(X_train, y_train)
predictions_knn=classifirer_knn.predict(X_test)
# Gaussian Naive Bayes
classifier_gnb=GaussianNB()
model_gnb=classifier_gnb.fit(X_train, y_train)
predictions_gnb=classifier_gnb.predict(X_test)
# Decision Tree
classifier_dtc=DecisionTreeClassifier(random_state=17)
model_dtc=classifier_dtc.fit(X_train, y_train)
predictions_dtc=classifier_dtc.predict(X_test)
# Logistic regression
classifier_lr=LogisticRegression(solver='lbfgs', random_state=17)
model_lr=classifier_lr.fit(X_train, y_train)
predictions_lr=classifier_lr.predict(X_test)

In [13]:
# TP(True positive), TN (True negative), FP (False positive), FN (False negtive)
# Accuracy=(TP+TN)/(TP+FP+FN+TN)
# Precision=TP/(TP+FP)
# Recall=TP/TP+FN
# Arithmetic mean=(Precission+Recall)/2
# F-measure (Harmonic mean)=(1+b*b)*(precission*recall)/(b*b*precission+recall)
# AUC-ROC - Area Under Curve(Receiver Operating Characteristic curve) 
# # in coordinates of x=ùêπùëÉùëÖ (false posotove rate) =ùêπùëÉ/(ùêπùëÉ+ùëáùëÅ) and ùëáùëÉùëÖ (true positive rate) =ùëáùëÉ/(ùëáùëÉ+ùêπùëÅ)
# # in range from 0.5 (worst) to 1 (best)

–û—á–µ–≤–∏–¥–Ω–æ, –≤ —ç—Ç–æ–º —Å–ª—É—á–∞–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç—Ä–∏–∫—É accuracy, –∫–æ—Ç–æ—Ä—É—é –º—ã –ø—Ä–∏–º–µ–Ω—è–ª–∏ –¥–æ —ç—Ç–æ–≥–æ, –Ω–µ —Å–æ–≤—Å–µ–º –ø—Ä–∞–≤–∏–ª—å–Ω–æ: –æ–Ω–∞ –Ω–µ –¥–∞—Å—Ç –≤–µ—Ä–Ω—É—é –æ—Ü–µ–Ω–∫—É –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É, –ø–æ—Ç–æ–º—É –∫–∞–∫ –≤—ã–∂–∏–≤—à–∏—Ö —è–≤–Ω–æ –º–µ–Ω—å—à–µ, —á–µ–º –ø–æ–≥–∏–±—à–∏—Ö.

–í—Å–ø–æ–º–Ω–∏–º –ø—Ä–æ —Ç–∞–∫–∏–µ –º–µ—Ç—Ä–∏–∫–∏ –∫–∞–∫ —Ç–æ—á–Ω–æ—Å—Ç—å –∏ –ø–æ–ª–Ω–æ—Ç–∞. –ó–¥–µ—Å—å –æ–Ω–∏ –ø–æ–¥–æ–π–¥—É—Ç —Ö–æ—Ä–æ—à–æ, —Ç–∞–∫ –∫–∞–∫ —É –Ω–∞—Å –∏–º–µ—é—Ç—Å—è –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–π –∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π –∫–ª–∞—Å—Å—ã, –∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ–¥–∏–Ω –∏–∑ –Ω–∏—Ö –º–æ–∂–µ—Ç –æ–∫–∞–∑–∞—Ç—å—Å—è –±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–º .

### 1.8
–í –∫–∞–∂–¥–æ–º –∏–∑ –ø—É–Ω–∫—Ç–æ–≤ —Å–ª–µ–¥—É—é—â–µ–≥–æ —Ç–µ—Å—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ, —á—Ç–æ –≤–∞–∂–Ω–µ–µ –º–∞–∫—Å–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å: —Ç–æ—á–Ω–æ—Å—Ç—å (precision) –∏–ª–∏ –ø–æ–ª–Ω–æ—Ç—É (recall). –í—ã–ø–∏—à–∏—Ç–µ –æ—Ç–≤–µ—Ç—ã.

1. –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –ø—Ä–∏ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –ø–æ–ª–æ–º–∫–µ —Å–∞–º–æ–ª–µ—Ç–∞ –æ–Ω —Å–º–æ–∂–µ—Ç –¥–æ–ª–µ—Ç–µ—Ç—å –¥–æ –ø—É–Ω–∫—Ç–∞ –Ω–∞–∑–Ω–∞—á–µ–Ω–∏—è (1 - –¥–æ–ª–µ—Ç–µ–ª, 0 - –Ω–µ –¥–æ–ª–µ—Ç–µ–ª).
2. –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç –ª–∏ —á–µ–ª–æ–≤–µ–∫ –æ–ø–∞—Å–Ω–æ—Å—Ç—å, –ø–æ –∞–Ω–∞–ª–∏–∑—É –ø—Å–∏—Ö–∏—á–µ—Å–∫–æ–≥–æ —Å–æ—Å—Ç–æ—è–Ω–∏—è (1 - –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç –æ–ø–∞—Å–Ω–æ—Å—Ç—å, 0 - –Ω–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç –æ–ø–∞—Å–Ω–æ—Å—Ç–∏).
3. –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ —É—Ö–æ–¥–∞ –∫–ª–∏–µ–Ω—Ç–∞ (1 - –∫–ª–∏–µ–Ω—Ç —É—à–µ–ª, 0 - –æ—Å—Ç–∞–ª—Å—è).
4. –í—ã—è–≤–ª–µ–Ω–∏–µ —Ä–∞–∫–∞ –Ω–∞ –æ—Å–Ω–æ–≤–µ –º–µ–¥–∏—Ü–∏–Ω—Å–∫–∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π (1 - –±–æ–ª–µ–Ω —Ä–∞–∫–æ–º, 0 - –∑–¥–æ—Ä–æ–≤).
5. –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –ª–µ—Ç–∞–ª—å–Ω–æ—Å—Ç–∏ –ø—Ä–∏ –Ω–∞–±–ª—é–¥–∞–µ–º–æ–π –º—É—Ç–∞—Ü–∏–∏ (1 - –≤—ã–∂–∏–≤–∞–Ω–∏–µ, 0 - –ª–µ—Ç–∞–ª—å–Ω—ã–π –∏—Å—Ö–æ–¥).
6. –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–æ–∏—Å—à–µ—Å—Ç–≤–∏—è –¥–ª—è —ç–∫—Å—Ç—Ä–µ–Ω–Ω—ã—Ö —Å–ª—É–∂–± (1 - –≤–∞–∂–Ω–æ, 0 - –Ω–µ–≤–∞–∂–Ω–æ).
7. –û–∫—É–ø—è—Ç—Å—è –ª–∏ –≤–ª–æ–∂–µ–Ω–∏—è –≤ –±–∏–∑–Ω–µ—Å (1 - –æ–∫—É–ø—è—Ç—Å—è, 0 - –Ω–µ –æ–∫—É–ø—è—Ç—Å—è).

–í–∞—à –æ—Ç–≤–µ—Ç:
<!-- Precision=TP/(TP+FP) to minimize FP
Recall=TP/TP+FN to minimize FN -->

1. <br> Precision
2. <br> Recall
3. <br> Recall
4. <br> Precission
5. <br> Recall
6. <br> Recall
7. <br> Precission

### 1.9
–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ, —á—Ç–æ –≤–∞–∂–Ω–µ–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ —Å–ª—É—á–∞–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ Titanic: –ø–æ–ª–Ω–æ—Ç—É –∏–ª–∏ —Ç–æ—á–Ω–æ—Å—Ç—å. –û–±—ä—è—Å–Ω–∏—Ç–µ, –ø–æ—á–µ–º—É.

Precission

### 1.10
–î–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–∞ –≤—ã–≤–µ–¥–∏—Ç–µ –º–∞—Ç—Ä–∏—Ü—É –æ—à–∏–±–æ–∫ –∏ —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ —Ä–∞—Å—Å—á–∏—Ç–∞–π—Ç–µ –º–µ—Ç—Ä–∏–∫—É recall (—Ä–∞—Å—á–µ—Ç—ã –¥–æ–ª–∂–Ω—ã –ø—Ä–∏—Å—É—Ç—Å—Ç–≤–æ–≤–∞—Ç—å). –ü—Ä–æ–≤–µ—Ä—å—Ç–µ —Ä–∞—Å—á–µ—Ç—ã, –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞–≤—à–∏—Å—å –≤—Å—Ç—Ä–æ–µ–Ω–Ω–æ–π –º–µ—Ç—Ä–∏–∫–æ–π recall_score.

In [14]:
from sklearn.metrics import confusion_matrix, recall_score
from sklearn.metrics import precision_score

In [15]:
def precission_recall (y_test, y_predict):
    TP, FP, FN, TN=0, 0, 0, 0
    for i in range (len(y_test)):
        if y_predict[i]==1 and y_test[i]==1:
            TP+=1
        elif y_predict[i]==1 and y_test[i]==0:
            FP+=1
        elif y_predict[i]==0 and y_test[i]==1:
            FN+=1
        elif y_predict[i]==0 and y_test[i]==0:
            TN+=1
        else: pass
    Precision=TP/(TP+FP)
    Recall=TP/(TP+FN)
    error_matrix=np.array([[TP, FP],[FN, TN]])
    return Precision, Recall, error_matrix

precission_knn, recall_knn, error_matrix_knn=precission_recall(y_test, predictions_knn)
print(f"for kNN classifier precission is {round(precission_knn,3)}, \
recall is {round(recall_knn, 3)}. Error matrix: \n {error_matrix_knn}")
print ("precision (micro) kNN is", round(precision_score(y_test, predictions_knn, average='micro'),3))
print ("precision (macro) kNN is", round(precision_score(y_test, predictions_knn, average='macro'),3))
print ("precision (weighted) kNN is", round(precision_score(y_test, predictions_knn, average='weighted'),3))
print ("recall (micro) kNN is", round(recall_score(y_test, predictions_knn, average='micro'),3))
print ("recall (macro) kNN is", round(recall_score(y_test, predictions_knn, average='macro'),3))
print ("recall (weighted) kNN is", round(recall_score(y_test, predictions_knn, average='weighted'),3))

precission_gnb, recall_gnb, error_matrix_gnb=precission_recall(y_test, predictions_gnb)
print(f"for Gaussian Naive Bayes classifier precission is {round(precission_gnb,3)}, \
recall is {round(recall_gnb, 3)}. Error matrix: \n {error_matrix_gnb} ")
print ("precision (micro) Gaussian Naive Bayes is", round(precision_score(y_test, predictions_gnb, average='micro'),3))
print ("precision (macro) Gaussian Naive Bayes is", round(precision_score(y_test, predictions_gnb, average='macro'),3))
print ("precision (weighted) Gaussian Naive Bayes is", round(precision_score(y_test, predictions_gnb, average='weighted'),3))
print ("recall (micro) Gaussian Naive Bayes is", round(recall_score(y_test, predictions_gnb, average='micro'),3))
print ("recall (macro) Gaussian Naive Bayes is", round(recall_score(y_test, predictions_gnb, average='macro'),3))
print ("recall (weighted) Gaussian Naive Bayes is", round(recall_score(y_test, predictions_gnb, average='weighted'),3))

precission_dtc, recall_dtc,  error_matrix_dtc=precission_recall(y_test, predictions_dtc)
print(f"for Decision Tree classifier precission is {round(precission_dtc,3)}, \
recall is {round(recall_dtc, 3)}. Error matrix: \n {error_matrix_dtc}")
print ("precision (micro) Decision Tree is", round(precision_score(y_test, predictions_gnb, average='micro'),3))
print ("precision (macro) Decision Tree is", round(precision_score(y_test, predictions_gnb, average='macro'),3))
print ("precision (weighted) Decision Tree is", round(precision_score(y_test, predictions_gnb, average='weighted'),3))
print ("recall (micro) Decision tree is", round(recall_score(y_test, predictions_dtc, average='micro'),3))
print ("recall (macro) Decision tree is", round(recall_score(y_test, predictions_dtc, average='macro'),3))
print ("recall (weighted) Decision tree is", round(recall_score(y_test, predictions_dtc, average='weighted'),3))

precission_lr, recall_lr,  error_matrix_lr=precission_recall(y_test, predictions_lr)
print(f"for Logistic regression classifier precission is {round(precission_lr,3)}, \
recall is {round(recall_lr, 3)}. Error matrix: \n {error_matrix_lr}")
print ("precision (micro) Logistic regression is", round(precision_score(y_test, predictions_lr, average='micro'),3))
print ("precision (macro) Logistic regression is", round(precision_score(y_test, predictions_lr, average='macro'),3))
print ("precision (weighted) Logistic regression is", round(precision_score(y_test, predictions_lr, average='weighted'),3))
print ("recall (micro) Logistic regression is", round(recall_score(y_test, predictions_lr, average='micro'),3))
print ("recall (macro) Logistic regression is", round(recall_score(y_test, predictions_lr, average='macro'),3))
print ("recall (weighted) Logistic regression is", round(recall_score(y_test, predictions_lr, average='weighted'),3))

for kNN classifier precission is 0.653, recall is 0.533. Error matrix:
 [[ 49  26]
 [ 43 105]]
precision (micro) kNN is 0.691
precision (macro) kNN is 0.681
precision (weighted) kNN is 0.686
recall (micro) kNN is 0.691
recall (macro) kNN is 0.667
recall (weighted) kNN is 0.691
for Gaussian Naive Bayes classifier precission is 0.753, recall is 0.728. Error matrix:
 [[ 67  22]
 [ 25 109]]
precision (micro) Gaussian Naive Bayes is 0.789
precision (macro) Gaussian Naive Bayes is 0.783
precision (weighted) Gaussian Naive Bayes is 0.788
recall (micro) Gaussian Naive Bayes is 0.789
recall (macro) Gaussian Naive Bayes is 0.78
recall (weighted) Gaussian Naive Bayes is 0.789
for Decision Tree classifier precission is 0.776, recall is 0.717. Error matrix:
 [[ 66  19]
 [ 26 112]]
precision (micro) Decision Tree is 0.789
precision (macro) Decision Tree is 0.783
precision (weighted) Decision Tree is 0.788
recall (micro) Decision tree is 0.798
recall (macro) Decision tree is 0.786
recall (weighted) Decision tree is 0.798
for Logistic regression classifier precission is 0.771, recall is 0.696. Error matrix:
 [[ 64  19]
 [ 28 112]]
precision (micro) Logistic regression is 0.789
precision (macro) Logistic regression is 0.786
precision (weighted) Logistic regression is 0.788
recall (micro) Logistic regression is 0.789
recall (macro) Logistic regression is 0.775
recall (weighted) Logistic regression is 0.789

### 1.11
–í—ã–±–µ—Ä–∏—Ç–µ —Ç—É –º–æ–¥–µ–ª—å, –Ω–∞ –∫–æ—Ç–æ—Ä–æ–π –º–µ—Ç—Ä–∏–∫–∞ recall –¥–∞–≤–∞–ª–∞ –ª—É—á—à–∏–π –æ—Ç–≤–µ—Ç, –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–π—Ç–µ –¥–ª—è –Ω–µ–µ precision, –∏—Å–ø–æ–ª—å–∑—É—è –≤—Å—Ç—Ä–æ–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é.

In [16]:
precission_dtc, recall_dtc,  error_matrix_dtc=precission_recall(y_test, predictions_dtc)
print(f"for Decision Tree classifier precission is {round(precission_dtc,3)}, \
recall is {round(recall_dtc, 3)}. Error matrix: \n {error_matrix_dtc}")
print ("precision (micro) Decision Tree is", round(precision_score(y_test, predictions_gnb, average='micro'),3))
print ("recall (micro) Decision tree is", round(recall_score(y_test, predictions_dtc, average='micro'),3))

for Decision Tree classifier precission is 0.776, recall is 0.717. Error matrix:
 [[ 66  19]
 [ 26 112]]
precision (micro) Decision Tree is 0.789
recall (micro) Decision tree is 0.798